<main class="container-fluid" id="inicio">
  <div class="row">
    <div class="col-md-3 bg-light sticky-sidebar">
      <app-profile></app-profile>
    </div>
    <div class="col">
      <app-nav class="sticky-top"></app-nav>
      <article class="mt-3">
        <section>
          <div class="fs-4 fw-bold text-light bg-dark rounded-pill ps-4">
            MI PERFIL
          </div>
          <p class="px-4 my-3">
            Desarrollador Full Stack Junior con conocimientos en Angular, Spring
            Boot y bases de datos MySQL. Actualmente cursando la carrera de
            Ingeniería en Sistemas. He desarrollado aplicaciones web completas,
            tanto para proyectos académicos como para pequeños negocios, lo que
            me permitió adquirir experiencia práctica en el diseño, desarrollo y
            despliegue de soluciones. <br />
            Busco integrarme a un equipo de desarrollo en modalidad remota, con
            posibilidades de seguir aprendiendo y aportar valor desde el primer
            día.
          </p>
        </section>
        <section id="tecno-herrmainetas" class="container-fluid">
          <div class="fs-4 fw-bold text-light bg-dark rounded-pill ps-3">
            TECNOLOGÍÁS Y HERRAMIENTAS
          </div>
          <div class="row row-cols-2 gap-3 justify-content-center my-3">
            <div class="card shadow" style="width: 32rem">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa-solid fa-layer-group"></i> Frontend:
                </h5>
                <p class="card-text">
                  <span class="fw-bold">Lenguajes: </span> JavaScript,
                  TypeScript, HTML5, CSS3. <br />
                  <span class="fw-bold">Frameworks: </span> Angular. <br />
                  <span class="fw-bold">Estilos y UI: </span> Bootstrap 5,
                  Angular Material, ng-bootstrap Frontend Desktop: JavaFX.
                </p>
                <p>
                  <i class="fa-solid fa-desktop"></i>
                  <b> Frontend Desktop:</b> JavaFX.
                </p>
              </div>
            </div>
            <div class="card shadow bg-angular" style="width: 32rem">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa-solid fa-layer-group"></i> Backend:
                </h5>
                <p class="card-text">
                  <span class="fw-bold">Lenguajes: </span> Java. <br />
                  <span class="fw-bold">Framework: </span> Spring Boot. <br />
                  <span class="fw-bold">Módulos: </span> Spring Web, Spring
                  Security + JWT, Spring Data JPA + Hibernate, Spring Boot
                  Starter Mail. <br />
                </p>
              </div>
            </div>
            <div class="card shadow" style="width: 32rem">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa-solid fa-layer-group"></i> Base de Datos:
                </h5>
                <p class="card-text">MySQL, SQL básico.</p>
              </div>
            </div>
            <div class="card shadow" style="width: 32rem">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fa-solid fa-layer-group"></i> Herramientas:
                </h5>
                <p class="card-text">
                  GitHub, Docker (básico) Otros: Postman, despliegue de apps
                  (Fly.io, Netifly).
                </p>
              </div>
            </div>
          </div>
        </section>
        <section id="proyectos">
          <div class="fs-4 fw-bold text-light bg-dark rounded-pill ps-3">
            PROYECTOS
          </div>
          <div class="px-4 my-3">
            <article>
              <section class="mb-3">
                <h5>
                  <i class="fa-solid fa-flask-vial"></i> Sitio Web Corporativo
                  para Nenius (Start-up de Nanotecnología)
                </h5>
                <p>
                  Tecnologías: Angular · TypeScript · HTML5 · CSS3 · Bootstrap ·
                  Firebase Hosting <br />
                  Rol: Desarrollador Frontend. <br />
                  Descripción: Desarrollo de una Single Page Application (SPA)
                  utilizando Angular para Nenius, una empresa de base
                  tecnológica enfocada en soluciones de nanotecnología. El
                  objetivo del sitio fue brindar una presencia institucional
                  profesional, exhibir los productos y servicios de la empresa,
                  y ofrecer un canal de contacto claro y accesible para clientes
                  e interesados. <br />
                  Responsabilidades y logros: Implementación completa de la
                  interfaz con Angular y Bootstrap Diseño adaptativo
                  (responsive) para múltiples dispositivos Navegación por rutas,
                  organización modular del código Sección de contacto funcional
                  con diseño validado (sin backend) Despliegue en Firebase
                  Hosting con estructura optimizada <br />
                </p>
                <a
                  href="https://neniusnanobiotech.web.app/home"
                  target="_blank"
                >
                  <i class="fa-solid fa-link"></i> Nenius
                </a>
              </section>
              <section class="mb-3">
                <h5>
                  <i class="fa-solid fa-school-flag"></i> Plataforma de Gestión
                  de Cursos para Fundación
                </h5>
                <h6>
                  <span class="text-light bg-dark rounded-pill px-3"
                    >En desarrollo</span
                  >
                  Frontend avanzao, backend en construccion.
                </h6>
                <p>
                  Tecnologías: JavaFX · Spring Boot · Spring Data JPA /
                  Hibernate · MySQL · JavaMailSender · Spring Security + JWT
                  <br />
                  Integraciones: Mercado Pago (API de pagos) · Moodle (gestión
                  de usuarios y acceso a cursos) <br />
                  Rol: Desarrollador Full Stack. <br />
                  Descripción: Desarrollo de una plataforma moderna en Angular y
                  Spring Boot para la gestión integral de cursos y
                  capacitaciones para docentes en una fundación educativa. La
                  solución incluye la creación y administración de cursos con
                  múltiples docentes, control de inscripciones con cupos y pagos
                  online. Se implementó integración con la API de Mercado Pago
                  para procesamiento y seguimiento de pagos, y con Moodle para
                  la creación automática de usuarios y gestión de accesos a los
                  cursos. Además, se utiliza Spring Security con JWT para
                  asegurar la autenticación y autorización, y envío automático
                  de emails para notificaciones y confirmaciones. <br />
                </p>
                <div>
                  Despligue temporal en Netifly (fontend)
                  <a href="https://fdi-salta.netlify.app/home" target="_blank">
                    <i class="fa-solid fa-link"></i> fdi-salta</a
                  >
                </div>
              </section>
              <section>
                <h5>
                  <i class="fa-solid fa-basketball"></i> Sistema Web para
                  Gestión de Club Deportivo
                </h5>
                <h6>
                  <span class="text-light bg-dark rounded-pill px-3"
                    >En desarrollo</span
                  >
                  Frontend avanzao, backend avanzado.
                </h6>
                <p>
                  Tecnologías: JavaFX · Spring Boot · Spring Data JPA /
                  Hibernate · MySQL · JavaMailSender · Spring Security + JWT
                  <br />
                  Rol: Desarrollador Full Stack <br />
                  Descripción: Desarrollo de una plataforma web para la gestión
                  integral de un club deportivo, enfocada inicialmente en la
                  administración de turnos para espacios disponibles y la
                  presentación de información institucional. Posteriormente, se
                  incorporó el módulo para la gestión de alumnos de diversas
                  disciplinas deportivas, aunque esta funcionalidad se encuentra
                  en desarrollo parcial. Actualmente, el frontend y backend
                  están en construcción y aún no están desplegados. La
                  arquitectura tecnológica contempla una SPA en Angular y
                  backend en Spring Boot, con seguridad mediante JWT y envío de
                  correos para notificaciones administrativas. <br />
                  El sistema está desplegado completamente en Fly.io, utilizando
                  Docker para contenerización, aunque actualmente el entorno de
                  producción está apagado por cuestiones operativas.
                </p>
              </section>
              <section class="mb-3">
                <h5>
                  <i class="fa-solid fa-oil-can"></i> Sistema Web de Gestión
                  para Lubricentro
                </h5>
                <h6>
                  <span class="text-light bg-dark rounded-pill px-3"
                    >En desarrollo</span
                  >
                  Frontend intermedio, backend intermedio.
                </h6>
                <p>
                  Tecnologías: JavaFX · Spring Boot · Spring Data JPA /
                  Hibernate · MySQL · JavaMailSender.<br />
                  Rol: Desarrollador Full Stack. <br />
                  Descripción: Desarrollo de un sistema web para la gestión de
                  stock y administración de productos en un lubricentro. El
                  proyecto contemplaba inicialmente funciones de venta y control
                  de inventario, pero quedó en una primera etapa de desarrollo
                  enfocada únicamente en la gestión de stock. El frontend está
                  implementado con Angular y el backend con Spring Boot, con
                  base de datos MySQL. <br />
                  El sistema está desplegado completamente en Fly.io, utilizando
                  Docker para contenerización, las maquinas estan .
                </p>
                <div>
                  La app está desplegada en Fly.io y puede presentar una demora
                  inicial al recibir la primera petición debido a la suspensión
                  automática de máquinas inactivas (Idle VM Suspension), una
                  funcionalidad típica en entornos de bajo consumo
                  <a
                    href="  https://frontlubriventas-angular.fly.dev/"
                    target="_blank"
                  >
                    <i class="fa-solid fa-link"></i> Lubricentro</a
                  >
                </div>
              </section>
              <section>
                <h5>
                  <i class="fa-solid fa-cash-register"></i> Sistema de Gestión
                  para Pequeños Comercios (Desktop)
                </h5>
                <h6>
                  <span class="text-light bg-dark rounded-pill px-3"
                    >En desarrollo</span
                  >
                  avanzado.
                </h6>
                <p>
                  Tecnologías: JavaFX · Spring Boot · Spring Data JPA /
                  Hibernate · H2 · JavaMailSender.<br />
                  Rol: Desarrollador Full Stack <br />
                  Descripción: Desarrollo de un sistema de escritorio para la
                  gestión de ventas y stock orientado a pequeños comercios,
                  utilizando JavaFX como interfaz gráfica y Spring Boot para la
                  lógica de negocio. Actualmente en desarrollo activo, con
                  enfoque en la implementación de la funcionalidad completa de
                  ventas. El backend está diseñado para ser compartido con una
                  futura versión web, utilizando Spring Data JPA con H2 como
                  base de datos embebida para el entorno desktop. El proyecto
                  apunta a ofrecer una solución flexible, modular y eficiente
                  para comercios con necesidades administrativas y de ventas.
                </p>
              </section>
            </article>
          </div>
        </section>

        <section id="idiomas-habilidades">
          <div class="fs-4 fw-bold text-light bg-dark rounded-pill ps-3">
            Idiomas
          </div>
          <p class="px-4 my-3">
            Inglés: Lectura técnica intermedia (documentación y recursos)
          </p>
        </section>
        <section>
          <div class="fs-4 fw-bold text-light bg-dark rounded-pill ps-3">
            Habilidades Blandas
          </div>
          <p class="px-4 my-3">
            Autodidacta y proactivo. <br />Buena organización y manejo del
            tiempo. <br />
            Capacidad para trabajar en equipo y resolver problemas técnicos.
          </p>
        </section>
      </article>
    </div>
  </div>
</main>
