<article class="container-fluid bg-light">
  <div class="d-flex flex-column justify-content-around slider">
    <section
      class="p-3 mb-3 border-bottom border-3 text-center align-self-center"
    >
      <i class="fa fa-user fa-2xl p-3"></i>
      <h3 class="text-center">Altamirano, Ra&uacute;l C&eacute;sar</h3>
      <div class="text-center px-3 fs-5 bg-dark rounded-pill text-light">
        Desarrollador Full Stack Junior
      </div>
    </section>
    <section class="mb-3 border-bottom border-3">
      <h4 class="text-center">
        <small><i class="fa-solid fa-graduation-cap"></i></small>
        FORMACI&Oacute;N ACAD&Eacute;MICA
      </h4>
      <p class="px-2">
        <b>Ingeniería en Sistemas de Informaci&oacute;n </b><br />
        Universidad Tectnologica Nacional - Facutad Regional de Cordoba. <br />
        <b> En curso (3er año) </b><br />
        En proceso de obtener título intermedio de Analista de Sistemas
      </p>
    </section>
    <section class="p-2">
      <h4>
        <small><i class="fa-solid fa-address-book"></i></small> Contacto
      </h4>
      <address class="px-2">
        <p>
          <i class="fa-solid fa-location-dot text-primary"></i> C&oacute;rdoba,
          C&oacute;rdoba - Argentina
        </p>
        <p>
          <i class="fa-solid fa-envelope text-danger me-1"></i>
          <a
            href="mailto:cesar.altamirano.dev@gmail.com"
            class="link-dark"
            target="_blank"
            >cesar.altamirano.dev&#64;gmail.com</a
          >
        </p>
        <p><i class="fa-solid fa-mobile-screen"></i> +543512840010</p>
        <p>
          <i class="fa-brands fa-whatsapp text-success me-1"></i>
          <a
            href="https://wa.me/+5493512840010"
            target="_blank"
            class="link-dark"
            >Contactar por WhatsApp
          </a>
        </p>
        <p>
          <i class="fa-brands fa-github me-1"></i>
          <a
            href="https://github.com/cesarAlta"
            class="link-dark"
            target="_blank"
            >github.com/cesarAlta
          </a>
        </p>
      </address>
    </section>
  </div>
</article>
